<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
  <a href="#main" class="skip-link p-screen-reader-text">Skip to content</a>
  {{ partial "svgpack-sprite.html" . }}
  <header class="l-header">
    {{ if .IsPage }}
    <p class="c-title p-title"><a href="{{ .Site.BaseURL }}" class="p-title__link">{{ .Site.Title }}</a></p>
    {{ else }}
    <h1 class="c-title p-title"><a href="{{ .Site.BaseURL }}" class="p-title__link">{{ .Site.Title }}</a></h1>
    {{ end }}
    {{ with .Site.Params.logo_horizontal }}
    <a href = "https://methodsconsultants.com">
      <img alt="Logo" src="{{ . }}" width = "425"/>
    </a>
    {{ end }}
    {{ if .IsPage }}
    <p class="p-subtitle" style = "font-size: 2em"><a href = "https://methodsconsultants.com">{{ .Site.Params.subtitle }}</a></p>
    {{ else }}
    <h2 class="p-subtitle" style = "font-size: 2em"><a href = "https://methodsconsultants.com">{{ .Site.Params.subtitle }}</a></h2>
    {{ end }}
  </header>
  <main id="main" class="l-main">
